<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<title>Web Hosting Company</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto">
</head>
<body class="ng-cloak" ng-controller="mainController as mainCtrl">

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<div class="overlay" ng-click="mainCtrl.toggleCart()" ng-show="mainCtrl.showCart"></div>

<!-- TOP TOP -->
<div class="alwaysOnTop">
<div class="topContainer">
  <div class="topItems">
    {{#if user}}
    <div class="topItem topItemRightmost"><a href="/users/logout">Logout</a></div>
    {{else}}
    <div class="topItem topItemRightmost"><a href="/users/login">Login</a></div>
    {{/if}}
    <div class="topItemCartClick topItem" ng-click="mainCtrl.toggleCart()">
      <div class="topItem" ng-bind="mainCtrl.itemsInCartFormatted">&nbsp</div>
      <div class="topItem topItemClose">View Cart</div>
      <div class="topItem topItemClose">
        <span class="glyphicon glyphicon-shopping-cart colorWhite"></span>
      </div>
    {{#if user}}
    <div class="topItem "><a href="/clientarea">Client Area</a></div>
    {{else}}
    <div class="topItem"><a href="/users/register">Register</a></div>
    {{/if}}
    </div>
  </div>
</div>
</div>

<!-- NAVIGATION -->
<div class="topNav">
  <div class="navLogo">
    <a href="/">LOGO</a>
  </div>
  <div class="navLinks">
    <div class="navLink">
      Blog
    </div>
    <div class="navLink" class="navLink" ng-mouseenter="showServers=true" ng-mouseleave="showServers=false" ng-class="{'navLinkHovered' : showServers==true }">
      Servers
      <div ng-show="showServers" ng-mouseenter="showServers=true" ng-mouseleave="showServers=false" class="navLinkDropdown">
        <div class="navDropBlank"></div>
        <div class="navLinkDropWrap">
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Cloud Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Fast, reliable and easy Cloud-based hosting
        </div></a>
        </div>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">cPanel Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">The industry-standard hosting solution
        </div></a>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Reseller Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Resell our services to your own customers
        </div></a>
        <div class="navLinkDropHeader coolFont cursorPointer">Virtual Servers
        </div>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropSmall coolFont cursorPointer">Virtual dedicated servers for you only
        </div></a>
      </div>   
    </div>
    <div class="navLink" ng-mouseenter="showHosting=true" ng-mouseleave="showHosting=false" ng-class="{'navLinkHovered' : showHosting==true }">
      Hosting
      <div ng-show="showHosting" ng-mouseenter="showHosting=true" ng-mouseleave="showHosting=false" class="navLinkDropdown">
        <div class="navDropBlank"></div>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Cloud Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Fast, reliable and easy Cloud-based hosting
        </div></a>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Wordpress Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Specialised Wordpress hosting
        </div></a>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">cPanel Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">The industry-standard hosting solution
        </div></a>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Reseller Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Resell our services to your own customers
        </div></a>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Virtual Servers
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Virtual dedicated servers for you only
        </div></a>
      </div>
    </div>
    <div class="navLink" ng-mouseenter="showWordpress=true" ng-mouseleave="showWordpress=false" ng-class="{'navLinkHovered' : showWordpress==true }">
      Wordpress Hosting
      <div ng-show="showWordpress" ng-mouseenter="showWordpress=true" ng-mouseleave="showWordpress=false" class="navLinkDropdown">
        <div class="navDropBlank"></div>
        <a class="navLinkDropA" href="/wordpress-hosting">
          <div class="navLinkDropWordpress"></div>
        </a>
        <div class="navLinkWordpressLine"></div>
        <a class="navLinkDropA" href="/wordpress-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Wordpress Hosting
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Specialised Wordpress hosting
        </div></a>
        <a class="navLinkDropA" href="/wordpress-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Complete Wordpress Maintenance
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">We can take care of your website
        </div></a>
        <a class="navLinkDropA" href="/wordpress-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Build a Wordpress Website
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">We can build the perfect website for you.
        </div></a>
      </div>
    </div>
    <div class="navLink" ng-class="{'navLinkHovered' : showDomains==true }" ng-mouseenter="showDomains=true" ng-mouseleave="showDomains=false">
      Domains
      <div ng-show="showDomains" ng-mouseenter="showDomains=true" ng-mouseleave="showHosting=false" class="navLinkDropdown navLinkDropdownDomains">
        <div class="navDropBlank"></div>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Register a domain
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Find your perfect domain
        </div></a>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Transfer a domain
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Transfer your domain to us easily
        </div></a>
        <a class="navLinkDropA" href="/cloud-hosting"><div class="navLinkDropHeader coolFont cursorPointer">Whois privacy
        </div>
        <div class="navLinkDropSmall coolFont cursorPointer">Protect your personal infromation
        </div></a>
        <div class="navLinkDropRegisterDomain">
          <div class="input-group navLinkDropRegisterDomainSrc">
            <input type="text" class="form-control navLinkDropRegisterDomainSrc " placeholder="Search for a domain name">
            <span class="input-group-btn">
              <button class="btn btn-default navLinkDropRegisterDomainSrc navLinkDropRegisterDomainBtn" type="button">Go!</button>
            </span>
          </div>
        </div>
      </div>      
    </div>
  </div>  
</div>
<!-- SHOPPING CART -->
<div ng-show="mainCtrl.showCart" class="cartPopUpOuter lightGreyFont">
  <div ng-show="mainCtrl.showCart" class="cartPopUpInner">
    <div class="cartTopText coolFont">Get access to your new services in 4 easy steps.</div>
    <div class="cartPopUpTop">

      <div class="cartStepWrapper">
        <div class="cartSteps">
          <div class="cartCircle coolFont">1</div>
          <div class="cartStepsDesc cartStepsDesc1 coolFont">Cart Contents</div>
        </div>
        <div class="cartSteps">
          <div class="cartCircle coolFont">2</div>
          <div class="cartStepsDesc cartStepsDesc2 coolFont">Account Details</div>
        </div>
        <div class="cartSteps">
          <div class="cartCircle coolFont">3</div>
          <div class="cartStepsDesc cartStepsDesc3 coolFont">Payment Method</div>
        </div>
        <div class="cartSteps">
          <div class="cartCircle coolFont">4</div>
          <div class="cartStepsDesc cartStepsDesc4 coolFont">Confirmation</div>
        </div>
      </div>
    </div>

    <div class="cartContentWrapper">
      <div class="cartContentAndTotal">
        <div class="itemsInCartTable coolFont">
          <div class="itemsInCartTableContent">
            <div ng-show="mainCtrl.itemsInCart >= 1" class="itemsInCart" ng-repeat="key in mainCtrl.products">
              <div class="itemsInCartLine"></div>
              <div class="itemsInCartWrap">
                <div class="itemsInCartLeft">
                  <div class="itemInCart coolFont" ng-bind="mainCtrl.getProductDesc(key.product)"></div>
                  <div class="itemInCartSize coolFont" ng-bind="mainCtrl.getProductSize(key.product, key.size)"></div>
                </div><div class="itemInCartRemove cursorPointer" ng-click="mainCtrl.removeFromCart(key)"><span class="glyphicon glyphicon-remove-circle"></span></div>
                <div class="itemsInCartPrices">
                  <div class="itemsInCartPrice" ng-bind="key.price"></div>
                  <div class="itemsInCartTime" ng-bind="key.timeframe"></div>
                </div>
              </div>
            </div>
            <div class="itemsInCartNoneMsg" ng-show="mainCtrl.itemsInCart == 0">You currently have no items in your cart.</div>
          </div>
        </div>
        <div class="itemsInCartTotal">
          <div class="itemsInCartTotalLine"></div>
          <div>
            <div class="itemsInCartTotalHeader">Subtotal</div>
            <div class="itemsInCartTotalPrice" ng-bind="mainCtrl.calculateTotal('subtotal')"></div>
          </div>
        </div>
        <div class="itemsInCartTotal">
          <div class="itemsInCartTotalLine"></div>
          <div>
            <div class="itemsInCartTotalHeader">VAT 20%</div>
            <div class="itemsInCartTotalPrice" ng-bind="mainCtrl.calculateTotal('vat')"></div>
          </div>
        </div>
        <div class="itemsInCartTotal">
          <div class="itemsInCartTotalLine"></div>
          <div>
            <div class="itemsInCartTotalHeader bold">Total due</div>
            <div class="itemsInCartTotalPrice bold" ng-bind="mainCtrl.calculateTotal('total')"></div>
          </div>
        </div>
      </div>
      <div class="btn btn-active cartButtons" ng-click="mainCtrl.toggleCart()"">Continue shopping</div>
      <div class="btn btn-active cartButtons" ng-click="mainCtrl.emptyCart()">Empty cart</div>
      <a href="/checkout"><div class="btn btn-active cartButtonContinue">Checkout now</div></a>
    </div>
  </div>
</div>
{{{body}}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.6/angular-cookies.min.js"></script>
<script src="/controllers/maincontroller.js"></script>

</html>