<!DOCTYPE html>
<html ng-app="mainApp">
<head>
	<title>Web Hosting Company</title>
	<link rel="stylesheet" href="/css/bootstrap.css" />
	<link rel="stylesheet" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto">
</head>
<body ng-controller="mainController as mainCtrl">

<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

<!-- TOP TOP -->
<div class="alwaysOnTop">
<div class="topContainer">
  <div class="topItems">
    {{#if user}}
    <div class="topItem topItemRightmost"><a href="/users/logout">Logout</a></div>
    <div class="topItemCartClick topItem" ng-click="mainCtrl.toggleCart()">
      <div class="topItem" ng-bind="mainCtrl.itemsInCartFormatted">&nbsp</div>
      <div class="topItem topItemClose">View Cart</div>
      <div class="topItem topItemClose">
        <span class="glyphicon glyphicon-shopping-cart colorWhite"></span>
      </div>
    </div>
    <div class="topItem"><a href="/clientarea">Client Area</a></div>
    {{else}}
    <div class="topItem"><a href="/users/login">Login</a></div>
    <div class="topItem"><a href="/users/register">Register</a></div>
    {{/if}}
  </div>
</div>
</div>

<!-- NAVIGATION -->
<div class="topNav">
  <div class="navLogo">
    LOGO
  </div>
  <div class="navLinks">
    <div class="navLink">
      BLOG
    </div>
    <div class="navLink">
      SERVERS
    </div>
    <div class="navLink" ng-mouseenter="showHosting=true" ng-mouseleave="showHosting=false">
      HOSTING
      <div ng-show="showHosting" ng-mouseenter="showHosting=true" ng-mouseleave="showHosting=false" class="navLinkDropdown">
        <div class="navDropBlank"></div>
        <div class="navLinkDropHeader coolFont">Cloud Hosting
        </div>
        <div class="navLinkDropSmall coolFont">Fast, reliable and easy Cloud-based hosting
        </div>
        <div class="navLinkDropHeader coolFont">cPanel Hosting
        </div>
        <div class="navLinkDropSmall coolFont">The industry-standard hosting solution
        </div>
        <div class="navLinkDropHeader coolFont">Reseller Hosting
        </div>
        <div class="navLinkDropSmall coolFont">Resell our services to your own customers
        </div>
        <div class="navLinkDropHeader coolFont">Virtual Servers
        </div>
        <div class="navLinkDropSmall coolFont">Virtual dedicated servers for you only
        </div>
      </div>
    </div>
    <div class="navLink">
      DOMAINS
    </div>
    <div class="navLink">
      HOME
    </div>
  </div>  
</div>
<!-- SHOPPING CART -->
<div ng-show="mainCtrl.showCart" class="cartPopUpOuter">
  <div ng-show="mainCtrl.showCart" class="cartPopUpInner">
    <div class="cartTopText coolFont">Get access to your new services in 4 easy steps.</div>
    <div class="cartPopUpTop">

      <div class="cartStepWrapper">
        <div class="cartSteps">
          <div class="cartCircle coolFont">1</div>
          <div class="cartStepsDesc cartStepsDesc1 coolFont">Cart Contents</div>
        </div>
        <div class="cartSteps">
          <div class="cartCircle coolFont">2</div>
          <div class="cartStepsDesc cartStepsDesc2 coolFont">Account Details</div>
        </div>
        <div class="cartSteps">
          <div class="cartCircle coolFont">3</div>
          <div class="cartStepsDesc cartStepsDesc3 coolFont">Payment Method</div>
        </div>
        <div class="cartSteps">
          <div class="cartCircle coolFont">4</div>
          <div class="cartStepsDesc cartStepsDesc4 coolFont">Confirmation</div>
        </div>
      </div>
    </div>

    <div class="cartContentWrapper">
      <div class="cartContentAndTotal">
        <div class="itemsInCartTable coolFont">
          <div class="itemsInCartTableContent">
            <div ng-show="mainCtrl.itemsInCart >= 1" class="itemsInCart" ng-repeat="key in mainCtrl.products">
              <div class="itemsInCartLine"></div>
              <div class="itemsInCartWrap">
                <div class="itemsInCartLeft">
                  <div class="itemInCart coolFont" ng-bind="mainCtrl.getProductDesc(key.product)" ng-repeat="i in mainCtrl.getNumberInCart(value.quantity) track by $index"></div>
                  <div class="itemInCartSize coolFont" ng-bind="mainCtrl.getProductSize(key.product, key.size)" ng-repeat="i in mainCtrl.getNumberInCart(value.quantity) track by $index"></div>
                </div>
                <div class="itemsInCartPrices">
                  <div class="itemsInCartPrice" ng-bind="key.price"></div>
                  <div class="itemsInCartTime" ng-bind="key.timeframe"></div>
                </div>
              </div>
            </div>
            <div class="itemsInCartNoneMsg" ng-show="mainCtrl.itemsInCart == 0">You currently have no items in your cart.</div>
          </div>
        </div>
        <div class="itemsInCartTotal">
          <div class="itemsInCartTotalLine"></div>
          <div>
            <div class="itemsInCartTotalHeader">Subtotal</div>
            <div class="itemsInCartTotalPrice" ng-bind="mainCtrl.calculateTotal('subtotal')"></div>
          </div>
        </div>
        <div class="itemsInCartTotal">
          <div class="itemsInCartTotalLine"></div>
          <div>
            <div class="itemsInCartTotalHeader">VAT 20%</div>
            <div class="itemsInCartTotalPrice" ng-bind="mainCtrl.calculateTotal('vat')"></div>
          </div>
        </div>
        <div class="itemsInCartTotal">
          <div class="itemsInCartTotalLine"></div>
          <div>
            <div class="itemsInCartTotalHeader bold">Total due</div>
            <div class="itemsInCartTotalPrice bold" ng-bind="mainCtrl.calculateTotal('total')"></div>
          </div>
        </div>
      </div>
      <div class="btn btn-active" ng-click="mainCtrl.emptyCart()">Empty cart</div>
    </div>
  </div>
</div>
{{{body}}}
</body>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
<script src="https://code.angularjs.org/1.5.6/angular-cookies.min.js"></script>
<script src="/controllers/maincontroller.js"></script>

</html>