<div class="registerHeader">
  <img class="registerHeaderImage" src="/images/peoples.jpg">
  <div class="registerHeaderLayer"></div>
  <div class="registerHeaderText">Client Area</div>
</div>
<div class="registerPage container coolFont">
	<div class="loginPageContainer">
		<h2 class="page-header colorBlue">Account Login</h2>
		<div class="loginPageAddText">In order to proceed with the checkout you will need to log into your account.</div>
		{{#if errors}}
            <div class="alert alert-danger">{{#each errors}}{{msg}}{{/each}}</div>
    	{{/if}}
    	<a class="loginPageNewToA" href="/users/register"><div class="loginPageNewTo cursorPointer">New to our company? Sign up here!</div></a>
		<form method="post" action="/users/login">
		  <div class="form-group">
		    <label>Username</label>
		    <input type="text" class="form-control" name="username" placeholder="Username">
		  </div>
		  <div class="form-group">
		    <label>Password</label>
		    <input type="password" class="form-control" name="password" placeholder="Password">
		  </div>
		  <div class="loginButton"><button type="submit" class="btn btn-default blueButton">Login</button></div>
		  <div class="forgotPassButton"><button type="submit" class="btn btn-default">Forgotten Password?</button></div>
		</form>
	</div>
</div>