<div class="wordpressHeader coolFont">
  <img class="wordpressHeaderImage" src="/images/people_on_desk.jpg">
  <div class="registerHeaderLayer"></div>
  <div class="cloudHeaderLine1"></div>
  <div class="cloudHeaderText">Хостинг</div>
  <div class="cloudHeaderText2">Пакети</div>
  <div class="cloudHeaderLine"></div>
  <div class="wordpressHeaderTextSmall">Нека се погрижим за техническата част </div>
  <div class="wordpressHeaderTextSmall2">докато вие правите това което обичате.</div>  
</div>
<div class="mainPageHeader coolFont italic">Избери <b>идеалния</b> хостинг</div>
<div class="cloudGreenLine"></div>
<div class="mainPageHeaderSmall coolFont top50px italic">Бърз, надежден и лесен за ползване.</div>
<div class="mainPageHeaderSmall coolFont italic">Създаден и поддържан от професионалисти с десетки години опит.</div>

<div class="productContainer coolFont">
	<div class="productPair">
		<div class="product">
			<div class="productPopular"></div>
			<div class="productName productBorder">Стартов</div>
			<div class="productPriceTop productBorder">от <b>1 лев/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>20 GB дисково пространство<br>До 1 сайт<br>1 базa данни<br>25 email кутии</div>
			<div class="productDetails productBorder">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton">Поръчай</div>
			</div>
		</div>
		<div class="product">
			<div class="productMostPopular productBorder">Най-популярен</div>
			<div class="productName productBorder">Стандартен</div>
			<div class="productPriceTop productBorder">от <b>1 лев/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>40 GB дисково пространство<br>До 5 сайта<br>10 бази данни<br>50 email кутии</div>
			<div class="productDetails productBorder">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton productButtonPopular">Поръчай</div>
			</div>
		</div>
	</div>
	<div class="productPair">
		<div class="product">
			<div class="productPopular"></div>
			<div class="productName productBorder">Професионален</div>
			<div class="productPriceTop productBorder">от <b>3 лева/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>80 GB дисково пространство<br>До 10 сайта<br>50 бази данни<br>250 email кутии</div>
			<div class="productDetails productBorder">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton">Поръчай</div>
			</div>
		</div>
		<div class="product">
			<div class="productPopular"></div>
			<div class="productName productBorder">Ултимативен</div>
			<div class="productPriceTop productBorder">от <b>5 лева/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>Неограничено пространство<br>До 25 сайта<br>100 бази данни<br>неограничени email кутии</div>
			<div class="productDetails productBorder lightGreyFont">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton">Поръчай</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="wordpressHeader">
	<img class="cloudHeaderImage" ng-style="{ 'height': mainCtrl.cloudFlowerHeight + 'px' }" src="/images/office_5.jpg">
	<div class="registerHeaderLayer"></div>
	<div class="cloudFlowerHead">Нужен ви е по-голям хостинг?</div>
	<div class="cloudGreenLineMore" ng-style="{ 'top': mainCtrl.wordpressLine + '%' }" ng-show="mainCtrl.cloudFlowerLine"></div>
	<div class="cloudFlowerCont" ng-style="{ 'top': mainCtrl.cloudFlowerTextHeight + '%'}">Независимо дали сте частен клиент с личен блог, или корпоративен клиент който се нуждае от надежден хостинг - ние сме напълно готови да ви обслужим. Свържете се с нас, и наш представител ще ви предложи идеалното за ваш хостинг решение.</div>
</div>

<div class="mainPageHeader coolFont italic">Какво още получавате?</div>
<div class="cloudGreenLine"></div>
<div class="mainPageHeaderSmall coolFont top50px italic">Наистина, това което видяхте до момента е страхотно... но има и още!</div>

<div class="advantagesContainer coolFont lightGreyFont">
	<div class="advantagesPair advantagesPairOne">
		<div class="advantage" ng-style="{ 'max-width': mainCtrl.advantgeWidth + '%', 'text-align': mainCtrl.advantageCenterLeft }">
			<div class="advantageHeader">Пробвайте нашите услуги</div>
			<div class="advantageHeader">с 30 дневна гаранция</div>
			<div class="advantageContent">Ако по някаква причина не сте доволни от услугата (въпреки че е крайно невероятно), ще ви върнем 100% от сумата която сте платили. Без никакви въпроси.</div>
		</div>
		<div class="advantageImage" ng-style="{ 'border-bottom': mainCtrl.advantageImgBorder }"><img src="/images/graph.png"></div>
	</div>
	<div class="advantagesPair advantagesPairTwo">
		<div class="advantageImage" ng-style="{ 'border-bottom': mainCtrl.advantageImgBorder }"><img src="/images/graph.png"></div>
		<div class="advantage" ng-style="{ 'max-width': mainCtrl.advantgeWidth + '%', 'text-align': mainCtrl.advantageCenterRight }">
			<div class="advantageHeader advantageRight">Пробвайте нашите услуги</div>
			<div class="advantageHeader advantageRight">с 30 дневна гаранция</div>
			<div class="advantageContent advantageRight">Ако по някаква причина не сте доволни от услугата (въпреки че е крайно невероятно), ще ви върнем 100% от сумата която сте платили. Без никакви въпроси.</div>
		</div>
	</div>
</div>