<div class="registerHeader coolFont">
  <img class="registerHeaderImage" src="/images/cloudie.jpg">
  <div class="cloudHeaderLayer"></div>
  <div class="cloudHeaderText">Cloud Hosting</div>
  <div class="cloudHeaderTextSmall">Take <span class="cloudHeaderBlue">your website</span></div>
  <div class="cloudHeaderTextSmall2">to the <span class="cloudHeaderBlue">next level</span></div>
  <div class=""><button class="btn btn-active cloudHeaderTextButton coolFont lightGreyFont">View Plans & Pricing</button></div>
</div>
<div class="cloudPageMain coolFont lightGreyFont">Cloud hosting for all your needs</div>
<div class="cloudDescCont coolFont">
	<div class="cloudDescItem">
		<img class="cloudDescItemImg" src="/images/cloudIcons-people.jpeg"/>
		<div class="cloudDescItemHead">Outstanding</div>
		<div class="cloudDescItemHead"><b>24/7 support</b></div>
		<div class="cloudDescItemCont">Our team consists only of professionals with years/decades of experience with web hosting. You will enjoy fast responce times and friendly on-point professionals.</div>
	</div>
	<div class="cloudDescItem">
		<img class="cloudDescItemImg2" src="/images/cloudIcons-tablet.jpeg"/>
		<div class="cloudDescItemHead">Outstanding</div>
		<div class="cloudDescItemHead"><b>24/7 support</b></div>
		<div class="cloudDescItemCont">Our team consists only of professionals with years/decades of experience with web hosting. You will enjoy fast responce times and friendly on-point professionals.</div>
	</div>
	<div class="cloudDescItem">
		<img class="cloudDescItemImg" src="/images/cloudIcons-people.jpeg"/>
		<div class="cloudDescItemHead">Outstanding</div>
		<div class="cloudDescItemHead"><b>24/7 support</b></div>
		<div class="cloudDescItemCont">Our team consists only of professionals with years/decades of experience with web hosting. You will enjoy fast responce times and friendly on-point professionals.</div>
	</div>
	<div class="cloudDescItem">
		<img class="cloudDescItemImg" src="/images/cloudIcons-people.jpeg"/>
		<div class="cloudDescItemHead">Outstanding</div>
		<div class="cloudDescItemHead"><b>24/7 support</b></div>
		<div class="cloudDescItemCont">Our team consists only of professionals with years/decades of experience with web hosting. You will enjoy fast responce times and friendly on-point professionals.</div>
	</div>
</div>
