<!-- BANNER -->
<div class="topBanner">
  <div class="topBannerTexts">
    <div class="topBannerHead">UNLIMITED CLOUD HOSTING</div>
    <div class="topBannerDesc"><div id="greenOne">EASY </div> <div id="middle">and</div> <div id="green"> AFFORDABLE</div></div>
    <div class="topBannerSmall">
      <div class="topBannerChecklist">
        <div class="topBannerChecklistItem"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Unlimited Bandwidth</br></div>
        <div class="topBannerChecklistItem"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Easy control panel</br></div>
        <div class="topBannerChecklistItem"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> One-Click Installs</br></div>
      </div>
      <div class="topBannerChecklist">
        <div class="topBannerChecklistItem"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 99.9% Guaranteed Uptime</br></div>
        <div class="topBannerChecklistItem"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> 24/7/365 technical support</br></div>
        <div class="topBannerChecklistItem"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> State of the art hardware</br></div>
      </div>
      <div>
        <button type="button" class="btn btn-default getStarted">Get Started</button>
      </div>
    </div>
  </div>
</div>

<div class="domainSearchContainer">
<div class="domainSearch">
    <div class="input-group domainSearchBar">

      <input type="text" class="form-control domainSearchBox" placeholder="Enter your domain name">
      <span class="input-group-btn">
        <button class="btn btn-default domainSearchButton" type="button">Go!</button>
      </span>
    </div>
    <div class="domainSearchPrices">
      <div class="domainSearchPrice"><b>.com</b>  $4.95</div>
      <div class="domainSearchPrice"><b>.com</b>  $4.95</div>
      <div class="domainSearchPrice"><b>.com</b>  $4.95</div>
      <div class="domainSearchPrice"><b>.com</b>  $4.95</div>
      <div class="domainSearchPrice"><b>.com</b>  $4.95</div>
    </div>
</div>
</div>

<div class="mainPageHeader">Why you should use Ourhost?</div>
<div class="greenLine"></div>

<div class="mainPageDesc">
  <span class="glyphicon glyphicon-star mainPageStar" aria-hidden="true"></span>
  <div class="mainPageDescHead"><b>All-star team</b></div>
  <div class="mainPageDescBody">We're a small team of extremely experienced system administrators and developers that decided to start their own thing and do it right. In a big company you'd need 3-4 escalations before you'd get to us. Here, we're literally one click away.</div>
</div>

<div class="mainPageDesc">
  <span class="glyphicon glyphicon-star mainPageStar" aria-hidden="true"></span>
  <div class="mainPageDescHead"><b>Support that goes above and beyond</b></div>
  <div class="mainPageDescBody">You've probably had your fair share of developers saying it's the host's issue, and webhosting support telling you that it's the developer's issue. You can send us a beer with the money you'll save, because we'll happily tackle the issue on our end.</div>
</div>

<div class="mainPageDesc">
  <span class="glyphicon glyphicon-star mainPageStar" aria-hidden="true"></span>
  <div class="mainPageDescHead"><b>Extremely robust service</b></div>
  <div class="mainPageDescBody">We're only using state-of-the-art hardware and all software is being constantly updated. If your website doesn't run on our servers, it's most likely the website. But hey, we'll help with that too.</div>
</div>

<div class="mainPagePlans">
	<div class="mainPagePlansHead">
		<b>CLOUD <span class="packageGreen">PACKAGES</span></b>
	</div>
	<div class="mainPagePlansBox">
		<div class="mainPagePlansBoxes">
			<div>Basic
			</div>
			<div class="plansPrice1">
				<span class="plansPriceBig">$<b>4.99</b></span><span class="plansPriceSmall"> /month</span>
			</div>
			<div>
			</div>
			<div class="plansPrice1 cursorPointer" ng-click="mainCtrl.addToCart('Cloud', 'Basic', 'monthly')">BUY NOW
			</div>
		</div>
		<div class="mainPagePlansBoxes">
			<div>Standard
			</div>
			<div class="plansPrice2">
				<span class="plansPriceBig">$<b>7.99</b></span><span class="plansPriceSmall"> /month</span>
			</div>
			<div>
			</div>
			<div class="plansPrice2 cursorPointer" ng-click="mainCtrl.addToCart('Cloud', 'Standard', 'monthly')">BUY NOW
			</div>
		</div>
		<div class="mainPagePlansBoxes">
			<div>Pro
			</div>
			<div class="plansPrice3">
				<span class="plansPriceBig">$<b>9.99</b></span><span class="plansPriceSmall"> /month</span>
			</div>
			<div>
			</div>
			<div class="plansPrice3 cursorPointer" ng-click="mainCtrl.addToCart('Cloud', 'Pro', 'monthly')">BUY NOW
			</div>
		</div>
		<div class="mainPagePlansBoxes">
			<div>Ultimate
			</div>
			<div class="plansPrice4">
				<span class="plansPriceBig">$<b>19.99</b></span><span class="plansPriceSmall"> /month</span>
			</div>
			<div>
			</div>
			<div class="plansPrice4 cursorPointer" ng-click="mainCtrl.addToCart('Cloud', 'Ultimate', 'monthly')">BUY NOW
			</div>
		</div>
	</div>
</div>