<div class="wordpressHeader coolFont">
  <img class="wordpressHeaderImage" src="/images/lala.jpg">
  <div class="registerHeaderLayer"></div>
	  <div class="wordpressHeaderLine1"></div>
	  <div class="wordpressHeaderText">Сървърни</div>
	  <div class="wordpressHeaderText2">Решения</div>
	  <div class="wordpressHeaderLine"></div>
	  <div class="wordpressHeaderTextSmall">Всичката мощност от която се нуждаете. </div>
</div>