<div class="blackOnTopOfParallaxWP">
<div class="parallax-window parallax-cloud-page" data-parallax="scroll" data-image-src="/images/background-lala.jpg">

{{> mainmenu}}

<!-- 
<div class="wordpressHeader coolFont">
  <div class="wordpressHeaderImage">
	  <div class="wordpressHeaderLine1"></div>
	  <div class="wordpressHeaderText">Wordpress</div>
	  <div class="wordpressHeaderText2">Хостинг</div>
	  <div class="wordpressHeaderLine"></div>
	  <div class="wordpressHeaderTextSmall">Нека се погрижим за техническата част </div>
	  <div class="wordpressHeaderTextSmall2">докато вие правите това което обичате.</div>
  </div>
</div>

-->

<div class="wordpressHeaderNew coolFont">
	<div class="wordpressHeaderCont">
	  <div class="wordpressHeaderLineNew"></div>
	  <div class="wordpressHeaderTextNew wordpressHeaderBig">Wordpress</div>
	  <div class="wordpressHeaderTextNew2 wordpressHeaderBig">Хостинг</div>
	  <div class="wordpressHeaderLineNew wordpressHeaderLineNew2"></div>
	  <div class="wordpressHeaderTextSmallNew wordpressHeaderTextSmallNu">Нека се погрижим за техническата част </div>
	  <div class="wordpressHeaderTextSmallNew2 wordpressHeaderTextSmallNu">докато вие правите това което обичате.</div>
	</div>
</div>

</div>
</div>

<div class="mainPageHeader coolFont italic whiteBack">Вашият <b>Wordpress</b> хостинг</div>

<div class="greenLine"></div>
<div class="mainPageHeaderSmall coolFont top50px italic">Бърз, надежден и лесен за ползване Wordpress хостинг.</div>
<div class="mainPageHeaderSmall coolFont italic">Всичко от което се нуждаете, на достъпна цена.</div>

<div class="productContainer coolFont">
	<div class="productPair">
		<div class="product">
			<div class="productPopular"></div>
			<div class="productName productBorder">Стартов</div>
			<div class="productPriceTop productBorder">от <b>1 лев/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>20 GB дисково пространство<br>До 1 сайт<br>1 базa данни<br>25 email кутии</div>
			<div class="productDetails productBorder">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton">Поръчай</div>
			</div>
		</div>
		<div class="product">
			<div class="productMostPopular productBorder">Най-популярен</div>
			<div class="productName productBorder">Стандартен</div>
			<div class="productPriceTop productBorder">от <b>1 лев/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>40 GB дисково пространство<br>До 5 сайта<br>10 бази данни<br>50 email кутии</div>
			<div class="productDetails productBorder">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton productButtonPopular">Поръчай</div>
			</div>
		</div>
	</div>
	<div class="productPair">
		<div class="product">
			<div class="productPopular"></div>
			<div class="productName productBorder">Професионален</div>
			<div class="productPriceTop productBorder">от <b>3 лева/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>80 GB дисково пространство<br>До 10 сайта<br>50 бази данни<br>250 email кутии</div>
			<div class="productDetails productBorder">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton">Поръчай</div>
			</div>
		</div>
		<div class="product">
			<div class="productPopular"></div>
			<div class="productName productBorder">Ултимативен</div>
			<div class="productPriceTop productBorder">от <b>5 лева/месец</b></div>
			<div class="productMainFeatures productBorder">Безплатна миграция<br>Безплатен SSL сертификат<br>Неограничен трафик<br>Неограничено пространство<br>До 25 сайта<br>100 бази данни<br>неограничени email кутии</div>
			<div class="productDetails productBorder lightGreyFont">Пълни детайли</div>
			<div class="productBorder productBorderBottom">
				<div class="mainPageHighButton productButton">Поръчай</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="wordpressHeader">
	<img class="wordpressHeaderImage" src="/images/flowers.jpg">
	<div class="wordpressFlowerImage"></div>
	<div class="wordpressFlowerHead" ng-style="{ 'left': mainCtrl.flowerLeft + '%', 'text-align': mainCtrl.wordpressTextAlign }">Пълна Wordpress поддръжка</div>
	<div class="wordpressFlowerCont" ng-style="{ 'top': mainCtrl.flowerCont + '%', 'text-align': mainCtrl.wordpressTextAlign  }">От наша страна ние се грижим за хостинга, за да може вашия уебсайт да е винаги на линия. Ако желаете, можем да поддържаме и самия уебсайт, като услугата включва обновяване на Wordpress, наблюдение за spam коментари, защитни мерки за вашата Wordpress инсталация, антивирусни и анти-хакер мерки и още много.</div>
</div>

<div class="mainPageHeader coolFont italic">Все още нямате сайт?</div>
<div class="greenLine"></div>

<div class="wordpressBuilderContainer coolFont" ng-style="{ 'display': mainCtrl.wordpressFlex }">
	<div class="wordpressAboutImgCont" ng-style="{ 'width': mainCtrl.wordpressImgWidth + '%' }">
		<img class="wordpressAboutImg" src="images/wordpress_cog.png">
	</div>
	<div class="mainPageDesc width100">
		<div class="wordpressBuilderDesc" ng-style="{ 'text-align': mainCtrl.wordpressTextAlign, 'padding-right': mainCtrl.wordpressTextMargin }">В ESR Host разполагаме с постоянен екип от опитни разработчици и дизайнери, които с най-голямо удоволствие ще ви съдействат с направата на сайт.</div><br>
		<div class="wordpressBuilderDesc" ng-style="{ 'text-align': mainCtrl.wordpressTextAlign, 'margin-right': mainCtrl.wordpressTextMargin}">Ние ще го създадем, поддържаме, и хостваме под ваше ръководство, за да можете вие да сте свободни за всичко друго.</div><br>
		<div class="wordpressBuilderDesc" ng-style="{ 'text-align': mainCtrl.wordpressTextAlign, 'margin-right': mainCtrl.wordpressTextMargin }">За информация моля свържете се с наш представител.</div>
	</div>
</div>




