<div class="wordpressHeader coolFont">
  <img class="wordpressHeaderImage" src="/images/background-edited.jpg">
  <div class="registerHeaderLayer"></div>
  <div class="wordpressHeaderLine1"></div>
  <div class="wordpressHeaderText">Wordpress</div>
  <div class="wordpressHeaderText2">Hosting</div>
  <div class="wordpressHeaderLine"></div>
  <div class="wordpressHeaderTextSmall">Let us take care of the tech </div>
  <div class="wordpressHeaderTextSmall2">while you do what you love.</div>
</div>