@font-face {
  font-family: 'DancingScript';
  font-style: normal;
  font-weight: normal;
  src: local('DancingScript'), url('/fonts/dancingscript.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
}

.italic {
  font-style: italic;
}

.top50px {
  margin-top: 40px;
}

.width100 {
  max-width: 100% !important;
}

.coolFont {
  font-family: 'Roboto', sans-serif;
}

.mainPageHeaderFontParallax {
  padding-top: 50px;
  font-family: 'Lora', serif;
  text-align: center;
  font-size: 3.5em;
  color: #727272;
  mix-blend-mode: lighten;
  background: #fff;
  color: #3a3a3a;
}

.colorBlue {
  color: #1E9600;
}

.colorWhite {
  color: white;
}

.cursorPointer {
  cursor: pointer;
}

.lightGreyFont {
  color: #727272;
}

.blueButton {
  background-color: #1e9600;
  color: white;
  border-color: #1e9600;
}

.whiteBack {
  background: white;
}

a {
  text-decoration: none;
  color: inherit;
}

.whiteFont {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: white;
}

.parallax {
    /* The image used */
    background-image: url("/images/people_on_desk.jpg");

    /* Set a specific height */
    height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-main-page {
  clear: both;
  height: auto;
}

.parallax-cloud-page {
 background-position: 0 0 0 0 !important;
 background-size: 100% !important;
}

.blackOnTopOfParallax {
  background: rgba(0,0,0,0.2);
}

.contentParallax {
}

.blackOnTopOfParallaxWP {
  background: rgba(0,0,0,0.4);
  height: 537px;
}

.greenLineParallax {
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 50px;
  background-color: #1E9600;
}


.registerPage {
}

.registerHeader {
  position: relative;
  width: 100%;
}

.registerHeaderLayer {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.registerHeaderImage {
  height: 480px;
  width: 100%;
  object-fit: cover;
}

.registerHeaderText {
  position: absolute;
  color: white;
  top: 33%;
  left: 10%;
  font-size: 4em;
  font-size: 4vw;
}

.registerSmallText {
  font-size: 0.66em;
  color: grey;
  float: right;
  padding-top: 10px;
}

.registerPageTips {
  float: left;
  width: 300px;
  height: 100%;

}
.registerPageTip {
  width: 270px;
  height: 270px;
  border: 1px solid #d6d6d6;
  margin: 15px;
  margin-top: 82px;
  border-radius: 5px;
}

.registerGlyphUser {
  font-size: 16px;
}

.registerPageTip > div:nth-child(1) {
  height: 50px;
  background-color: #eaeaea;
  font-size: 1.3em;
  padding-top: 12px;
  padding-left: 15px;
}

.registerPageTip > div:nth-child(2) {
  padding: 10px;
  text-align: justify;
  height: 65%;
}

.registerPageTip > div:nth-child(3) {
  border-top: 1px solid #d6d6d6;
  padding-top: 12px;
  padding-left: 15px;
  background-color: #f4fffb;
  height: 44px;
}


.registerPageContent {
  float: left;
  width: 800px;
  margin-bottom: 50px;
}

.registerInputCols {
  float: left;
  width: 390px;
}

.registerInputCols:nth-child(2) {
  margin-left: 20px;
}





.loginPageContainer {
  width: 50%;
  margin-left: 25%;
}

.loginButton {
  margin-top: 15px;
  margin-left: 30%;
  float: left;
}

.forgotPassButton {
  margin-top: 15px;
  margin-left: 5px;
  float: left;
}

.loginPageAddText {
  font-size: 1.1em;
  margin-bottom: 20px;
}

.loginPageNewTo {
  width: 100%;
  background-color: #13BAA8;
  border-color: #13BAA8;
  margin-bottom: 20px;
  border-radius: 5px;
  color: white;
  font-size: 1.4em;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

a.loginPageNewToA {
  text-decoration: none;
}

.loginPageNewTo:hover {
  color: white;
  text-decoration: underline;
}



.topContainer {
  background-color: rgba(61,153,147,0.5);
  height: 50px;
  position: relative;
}

.topItems {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1em;
  z-index: 1000;
}

.topItem {
  margin-right: 20px;
  float: right;
  color: white;
}

.topItemClose {
  margin-right: 5px;
}

.topItemCart {
  padding: 0 0 0 5px;
}

.topItemCartClick {
  position: relative;
  z-index: 1001;
  cursor: pointer;
}

.topItemCartNumber {
  height: 1px;
  float: right;
  color: white;
}




.navLinkCartMobileMenu {

}

.topNav {
  z-index: 1111;
  position: static;
  top: 50px;
  width: 100%;
  font-size: 1.2em;
  background-color: rgba(30, 150, 0, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navLogo {
  text-decoration: none;
}

.navLogoImageBig {
  display: flex;
  z-index: 1000;
  text-decoration: none;
  height: 100px;
}

.navLogoImage {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  text-decoration: none;
  height: 50px;
}

.navLinkBurger {
  margin: 10px 13px 0 0;
  font-size: 1.5em;
}

.navLinkMobile {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: flex-end;
}

.navLinks {
  width: 100%;
  display: flex;
  z-index: 999;
  align-items: center;
}

.navLink {
  padding: 0 10px 0 10px;
  float: right;
  cursor: pointer;
  font-size: 1.4em;
  color: white;
  display: flex;
  align-items: center;
  height: 100px;
}

.navLinkHovered {
  background-color: rgba(30, 150, 0, 1);;
  color: white;
  text-decoration: underline;
}

.navLinkBlank {
  height: 1px;
}

.navLinkPromo {
  margin-left: auto;
  color: #ed6f2c;
}

.navLinkDropdown {
    display: block;
    position: absolute;
    background-color: white;
    height: auto;
    width: 380px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 12px;
    margin-left: -20px;
    margin-top: 33px;
}

.navLinkDropdownServers {
    right: 5px !important;
}

.navLinkCartPopup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: white;
    height: auto;
    width: 380px;
    border-radius: 5px;
    padding-bottom: 12px;
    margin-top: 70px;
    right: 9px;
    border: 1px solid #1E9600;
    color: #1E9600;
    padding: 5px 10px 5px 10px;
    font-size: 1em;
}

.navLinkCartContentCont {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: white;
    height: auto;
    width: 380px;
    border-radius: 5px;
    padding-bottom: 12px;
    right: -70px;
    top: 100px;
    border: 1px solid #1E9600;
    color: #1E9600;
    padding: 5px 10px 5px 10px;
    font-size: 1.2em;
}



.navLinkCartContentContThanks {
  top: 120px !important;
  right: -36px !important;
}

.navLinkCartThanks {
  font-size: 1.2em;
}

.popupHeart {
  margin: 0 15px 0 10px;
  font-size: 1.5em !important;
}

.navLinkCartPopupHeart {
  margin: 0 10px 0 5px;
}

.navLinkDropdownDomains {
  padding-bottom: 0px;
}

.navDropBlank {
  margin-top: 20px;
}

.navLinkDropHeader {
  color: #1e9600;
  padding-left: 20px;
  font-size: 0.9em;
}

.navLinkDropHeader:hover {
  background-color: #F5F5F5;
}

.navLinkDropHeader:hover + .navLinkDropSmall {
  background-color: #F5F5F5;
}

.navLinkDropHeader:nth-child(1) {
  padding-top: 9px;
}

.navLinkDropSmall {
  padding-left: 20px;
  color: #8c8c8c;
  padding-bottom: 13px;
  font-size: 0.8em;
}

.navLinkDropA:hover {
  text-decoration: none;
  background-color: black;
}

.navLinkDropRegisterDomain {
  margin-top: 20px;
  background-color: #1e9600;
  height: 60px;
  border-radius: 0 0 5px 5px;
}

.navLinkDropRegisterDomainSrc {
  background-color: #1e9600;
  color: white;
  height: 70px;
  border-color: #1e9600;
  border-radius: 0 0 5px 5px;
  font-size: 20px;
}

.navLinkDropRegisterDomainBtn {
  width: 80px;
  color: white;
  font-size: 19px;
  border-left: 1px solid white;
}

.navLinkDropRegisterDomainSrc::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: white;
}
.navLinkDropRegisterDomainSrc:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: white;
  opacity:  1;
}
.navLinkDropRegisterDomainSrc::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: white;
 opacity:  1;
}

.navLinkDropWordpress {
  background-image: url(/images/wordpress-logo.jpg);
  padding-top: 5px;
  background-size: 100%;
  width: 85%;
  height: 100px;
  margin-left: 23px;
}

.navLinkWordpressLine {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 6px;
  height: 2px;
  width: 240px;
  background-color: #1e9600;
}

.mainPageTopNav {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
}

.mainPageTopNav > div:nth-child(1) {
  margin-left: 10%;
}

.mainPageTopNav > div:nth-child(2) {
  margin-left: 12%;
}

.mainPageTopNav > div:nth-child(3) {
  margin-left: 15%;
}

.mainPageTopNavTextHead {
  font-family: 'Lora', serif;
  font-size: 3.5em;
  color: white;
}

.mainPageTopNavGreen {
  height: 3px;
  width: 240px;
  background-color: #1e9600;  
}

.mainPageTopNavText2 {
  font-family: 'Lora', serif;
  font-size: 3.5em;
  color: white;
  font-style: italic;
}

.navLinkDivider {
  height: 55px;
  width: 1px;
  background-color: white;
  margin: 0 35px 0 25px;
}

.navLinkCartCounter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  font-size: 0.5em;
  top: 25%;
  left: 45%;
  background: red;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: #EE7B3E;
}

.navLinkIcons {
  display: flex;
  align-items: center;
  position: relative;
  padding-right: 40px;
  color: white;
  cursor: pointer;
  height: 100px;
  font-size: 2.6em;
}

.navLinkCartContentCont {
  font-size: 0.4em;
}



.mainPageTop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 60px;
}

.mainPageTopHeader {
  font-weight: bold;
  text-align: center;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.85);
  color: black;
  font-size: 3em;
}

.mainPageTopHeaderSmall {
  text-align: center;
  width: 600px;
  font-size: 3em;
  background-color: rgba(30, 150, 0, 0.85);
  color: white;
}

.mainPageTopDetailsCont {
  display: flex;
  justify-content: center;
}

.mainPageTopDetails {
  display: flex;
  justify-content: center;
  font-size: 1.5em;
  margin-bottom: 50px;
  flex-wrap: wrap;
  max-width: 1600px;
}

.mainPageTopDetail {
  margin: 0 10px 20px 10px;
  padding: 10px 14px 10px 14px;
  background-color: rgba(255, 255, 255, 0.85);
  color: #1E9600;
  font-weight: bold;
  width: 450px;
  display: flex;
  align-items: center;
}

.mainPageTopDetailSymbol {
  margin: 5px 13px 0 3px;
}

.faCheck {
  font-size: 1.2em !important;
  color: #1E9600;
}

.mainPageTopDetailsButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 80px;
}

.mainPageTopDetailsBuy {
  background-color: rgba(30, 150, 0, 0.95);
  padding: 10px 15px 10px 15px;
  color: white;
  font-size: 1.4em;
  border: 1px solid white;
}

.mainPageTopDetailsDetails {
  color: white;
}



.overlay {
    position:fixed;

    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.65); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1009;
}

.cartPopUpOuter {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  height: 1px;
  overflow: visible;
  background: red;
}

.cartPopUpInner {
  width: 800px;
  height: 560px;
  margin-left: -400px;  /***  width / 2   ***/
  position: absolute;
  top: -250px;          /***  height / 2   ***/
  left: 50%;
  background: white;
  z-index: 1010;
  border: 1px solid black;
  border-radius: 5px;
  overflow-x: hidden;
}

.cartTopText {
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 60px;
  background: white;
  position: relative;
  float: left;
  font-size: 1.8em;
  padding-left: 120px;
  padding-top: 12px;
}

.cartPopUpTop {
  height: 130px;
  width: 100%;
  background-color: #1e9600;
  position: relative;
  float: left;
}

.cartStepWrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.cartSteps {
  float: left;
  margin-left: 12%;
}


.cartCircle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 8px;
    background: #fff;
    color: #666;
    text-align: center;
    font-size: 1.5em;
}

.cartStepsDesc {
  color: white;
  font-size: 1.2em;
  margin-top: 5px;
}

.cartStepsDesc1 {
  margin-left: -30px;
}

.cartStepsDesc2 {
  margin-left: -30px;
}

.cartStepsDesc3 {
  margin-left: -40px;
}

.cartStepsDesc4 {
  margin-left: -28px;
}

.cartContentWrapper {
  padding-top: 200px;
}

.cartContentAndTotal {
  float: left;
  width: 100%;
}

.itemsInCartTable {
  width: 65%;
  margin-left: 20px;
  position: relative;
  float: left;
}

.itemsInCartTableContent {
  min-height: 265px;
}

.itemsInCartNoneMsg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 22%;
  font-size: 1.2em;
}

.itemsInCartLine {
  height: 1px;
  background-color: #d8d8d8;
}

.itemsInCartWrap {
  height: 65px;
}

.itemsInCartLeft {
  float: left;
}

.itemsInCartPrices {
  margin-top: 10px;
  margin-right: 15px;
  float: right;
}

.itemsInCartPrice {
  float: right;
}

.itemInCart {
  margin-top: 10px;
  margin-left: 15px;
  font-size: 1.1em;
}

.itemInCartSize {
  margin-bottom: 10px;
  margin-left: 15px;
  font-size: 1.2em;
}

.itemInCartRemove {
  float: left;
  margin-top: 36px;
  margin-left: 5px;
}

.itemsInCartTotal {
  height: 50px;
  width: 50px;
  float: left;
  margin-left: 15px;
  width: 225px;
}

.itemsInCartTotalLine {
  height: 1px;
  background-color: #d8d8d8;
}

.itemsInCartTotalHeader {
  font-size: 1.3em;
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
  margin-left: 10px;
}

.itemsInCartTotalPrice {
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-size: 1.3em;
}

.bold {
  font-weight: bold;
}

.cartButtons {
  margin-left: 20px;
  margin-bottom: 10px;
  margin-top: 35px;
  font-size: 18px;
  color: #727272;
}

.cartButtonContinue {
  float: right;
  font-size: 18px;
  background-color: #1e9600;
  color: white;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}

.cartButtonContinue:hover {
  color: white;
  text-decoration: underline;
}



.topBanner {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.65),
      rgba(0, 0, 0, 0.65)
    ),
    url(/images/banner.jpg);
  background-size: cover;
  height: 500px;
  position: relative;
  width: 100%;
}

.topBannerTexts {
  position: absolute;
  color: white;
  top: 13%;
}

.topBannerHead {
  font-size: 3.6em;
  font-weight: bold;
  margin-bottom: 0.2em;
}

.topBannerDesc {
  margin-top: 5px;
  font-size: 2.4em;
  font-style: italic;
}

.topBannerSmall {
  margin-top: 10px;
  float: left;
  font-size: 1.6em;
}

.glyphicon-ok {
  font-size: 0.8em;
  margin-right: 5px;
}

#greenOne {
  font-style: italic;
  color: #21a500;
}

#middle {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

#green {
  float: left;
  font-style: italic;
  color: #21a500;
}

.topBannerChecklist {
  margin-top: 1em;
  margin-top: 1vw;
  float: left;
}

.topBannerChecklist:nth-last-child(2) {
  margin-left: 40px;
}

.topBannerChecklistItem {
  margin-bottom: 15px;
}

.getStarted {
  margin-top: 20px;
  border-radius: 0;
  background-color: #1e9600;
  border-color: #1e9600;
  font-size: 1.2em;
  font-weight: bold;
  color: white;
}

.getStarted:hover {
  background-color: white;
  color: #1e9600;
}




.domainSearchContainer {
  position: relative;
  width: 100%;
}

.domainSearch {
  border-top: 150px solid #1e9600;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  width: 100%;
}

.domainSearchTrianglesCont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.domainSearchBar {
  margin-top: 30px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  min-width: 500px;
}

.domainSearchBox {
  height: 55px;
  font-size: 1.3em;
  font-family: 'Open Sans', sans-serif;
}

.domainSearchButton {
  height: 55px;
  width: 75px;
}

.domainSearchPrices {
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size: 1.2em;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.domainPriceSpace {
  margin-left: 20px;
}






.mainPageHeader {
  margin-top: 40px;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 3em;
  color: #727272;
}

.mainPageHeaderSmall {
  color: #727272;
  text-align: center;
  width: 100%;
  font-size: 1.5em;
}

.greenLine {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 240px;
  background-color: #1E9600;
}

.blueLine {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 240px;
  background-color: #1AC4E8;
}

.mainPageDesc {
  position: relative;
  margin-top: 40px;
  max-width: 90%;
  min-width: 40%;
}

.mainPageStar {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 4em;
  float: left;
  margin-left: 50px;
  margin-right: 50px;
  color: #21a500;
}



.footerChatButton {
  color: #1E9600;
  background-color: white;
  border-radius: 5px 5px 5px 5px;
  padding: 7px 18px 7px 16px;
  cursor: pointer;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footerChatButton:hover {

}

.footerChatButtonTxt {
  font-size: 0.9em;
}

.footerContactUs {
  height: 100px;
  width: 100%;
  background-color: #1E9600;
  text-align: center;
  font-size: 2em;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.footerContainer {
  padding-top: 50px;
  width: 100%;
  height: 300px;
  background-color: #023a01;
}

.footerContent {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.footerContent > div {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  border-bottom: 1px solid #727272;  
}

.footerContentHeader {
  font-size: 1.2em;
  color: white;
  font-weight: bold;
}

.footerContentSub {
  padding-top: 5px;
  color: #c1c1c1;
  font-size: 1.2em;
}

.footerContentSub:before {
  color: #3ce539;
  content:"• ";
}




.mainPageHighlightCont {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.mainPageHighlights {
  width: 410px;
  text-align: center;
  margin-top: 60px;
  text-align: center;
  margin: 0 20px 0 20px;
}

.mainPageHighImg {
  width: 150px;
}

.mainPageHighHead {
  margin-top: 10px;
  font-size: 2em;
  color: #1E9600;
  font-style: italic;
}

.mainPageHighCont {
  margin-top: 20px;
  font-size: 1.3em;
  font-style: italic;
}

.mainPageHighButton {
  margin-top: 30px;
  border-radius: 5px;
  border: 1px solid #1E6300;
  display: inline-block;
  padding: 10px;
  font-size: 1.2em;
  color: #1E9600;
}

.mainPageHighButton:hover {
  background-color: #1E9600;
  color: white;
}



.mainPagePlans {
  margin-top: 80px;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.mainPagePlansHead {
  padding-top: 20px;
  font-size: 3.2em;
  font-family: 'Open Sans', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
}

.mainPagePlansBox {
  z-index: 2000;
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  text-align: center;
}

.mainPagePlansBoxesPairs {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mainPagePlansBoxes {
  height: auto;
  width: 270px;
  float: none;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  padding-bottom: 40px;
  margin-left: 15px;
  margin-right: 15px;
}

.mainPagePlansDesc {
  font-size: 1.3em;
  color: #727272;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 15px;
  padding-bottom: 15px;
}

.mainPagePlansDescItemFull {
  padding-top: 15px;
  text-decoration: underline;
}

.plansPriceRegular {
  padding-top: 5px;
  margin-bottom: -10px;

}

.plansPriceRegularAmt {
  font-size: 1.2em;
  text-decoration: line-through;
}

.mainPagePlansPop {
  background-color: #1E9600;
  border-radius: 5px 5px 0 0;
  color: white;
  font-size: 1.4em;
  padding-top: 5px;
}

.mainPagePlanNamePop {
  border-radius: 0 0 0 0 !important;
}

.mainPagePlansBoxes > div:nth-of-type(1) {
  height: 40px;
}

.mainPagePlansBoxes > div:nth-of-type(2) {
  height: 80px;
  background-color: rgba(255, 255, 255, 0.9);
  font-size: 2.2em;
  color: #727272;
  padding-top: 20px;
  border-radius: 5px 5px 0 0 ;
}

.mainPagePlansBoxes > div:nth-of-type(3) {
  height: 90px;
  padding-top: 5px;
  color: white;
}

.mainPagePlansBoxes > div:nth-of-type(4) {
  height: 280px;
  background-color: rgba(255, 255, 255, 0.9);
}

.mainPagePlansBoxes > div:nth-of-type(5) {
  height: 60px;
  font-size: 1.8em;
  color: white;
  font-weight: bold;
  padding-top: 13px;
  border-radius: 0 0 5px 5px;
}

.mainPagePlansBoxes > div:hover:nth-of-type(5) {
  background-color: #45e0db;
}

.packageGreen {
  color: #21a500;
}

.plansPriceSmall {
  font-size: 1.6em;
}

.plansPriceBig {
  font-size: 3em;
}

.plansPrice1 {
  background: #008D96;
}

.plansPrice2 {
  background: #1E9600;
  
}

.plansPrice3 {
  background: #00787F;
}

.plansPrice4 {
  background: #3D9962;
}






.mainPageAbout {
  margin-top: 10px;
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}


.mainPageAboutImgCont {
  width: 45%;
  position: relative;
  min-width: 500px;
  min-width: 400px;
}

.mainPageAboutImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  right: 0;
  left: 0;
  margin: auto;
}

.mainPageAboutImgContSmall {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  position: relative;
  overflow: hidden;
  max-height: 400px;
}

.mainPageAboutImgSmall {
  width: 100%;
  float: left;
  display: block;
}



.mainPageAboutContent {
  width: 55%;
}

.mainPageAboutContHead {
  padding-top: 50px;
  text-align: center;
  font-size: 3em;
  color: #727272;
}

.mainPageDescHead {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.9em;
  margin-left: 30px;
  color: #1E9600;
}

.mainPageDescBody {
  margin-left: 50px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  text-align: justify;
  text-justify: inter-word;
}

.mainPageAboutGreen {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 340px;
  background-color: #1E9600; 
}





.cloudHeaderLayer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.cloudHeaderText {
  position: absolute;
  color: white;
  top: 17%;
  left: 12%;
  font-size: 4em;
}

.cloudHeaderText2 {
  position: absolute;
  color: white;
  top: 30.5%;
  left: 21.5%;
  font-size: 4em;
}

.cloudHeaderLine1 {
  position: absolute;
  color: white;
  top: 15%;
  left: 14.5%;
  height: 3px;
  width: 240px;
  background-color: #1e9600;
}

.cloudHeaderLine {
  position: absolute;
  color: white;
  top: 51%;
  left: 14.5%;
  height: 3px;
  width: 240px;
  background-color: #1e9600;
}

.cloudHeaderTextSmall {
  position: absolute;
  color: white;
  top: 43%;
  left: 8%;
  font-size: 2em;
  font-size: 2vw;
  font-style: italic;
}

.cloudHeaderTextSmall2 {
  position: absolute;
  color: white;
  top: 55%;
  left: 19.7%;
  font-size: 2em;
  font-size: 2vw; 
  font-style: italic;
}

.cloudHeaderTextButton {
  position: absolute;
  color: white;
  top: 77%;
  left: 8%;
  font-size: 2em;
  font-size: 1.3vw;
  background-color: #1e9600;
  border-color: #1e9600;
}

.cloudHeaderBlue {
  color: #1e9600;
}

.cloudGreenLine {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  height: 3px;
  width: 140px;
  background-color: #1E9600;
}

.cloudGreenLineMore {
  margin-top: 15px;
  position: absolute;
  top: 31%;
  left: 0;
  right: 0;
  margin: auto;
  height: 3px;
  width: 240px;
  background-color: #1E9600;  
}

.cloudFlowerHead {
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  color: white;
  font-size: 3em;
  font-style: italic;
  text-align: center;
}

.cloudHeaderImage {
  height: 400px;
  width: 100%;
  object-fit: cover;
}

.cloudFlowerCont {
  position: absolute;
  top: 25%;
  left: 10%;
  color: white;
  font-size: 1.5em;
  margin-right: 10%;
  text-align: center;
}


.advantagesContainer {
  margin-top: 80px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

.advantagesPair {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

}

.advantagesPairOne {
  flex-wrap: wrap-reverse;
}

.advantagesPairTwo {
  flex-wrap: wrap;
}

.advantage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-width: 40%;
  padding: 30px;
  border-bottom: 1px dashed #c1c1c1;
}

.advantageImage {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px dashed #c1c1c1;
}

.advantageHeader {
  font-size : 2em;
}

.advantageContent {
  margin-top: 20px;
  font-size: 1.2em;
}

.advantageRight {
  text-align: right;
}




.wordpressHeaderNew {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 70px;
  padding-top: 70px;
}

.wordpressHeaderCont {
  display: flex;
  flex-direction: column;
}

.wordpressHeaderBig {
  font-size: 4em;
  color: white;

}

.wordpressHeaderLineNew {
  height: 3px;
  width: 240px;
  background-color: #1e9600;  
}

.wordpressHeaderTextSmallNu {
  font-size: 2em;
  font-style: italic;
  color: white;
}





.wordpressHeader {
  position: relative;
  width: 100%;
}

.wordpressHeaderImage {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

.wordpressHeaderLine1 {
  position: absolute;
  color: white;
  top: 15%;
  left: 15.5%;
  height: 3px;
  width: 240px;
  background-color: #1e9600;
}

.wordpressHeaderText {
  position: absolute;
  color: white;
  top: 17%;
  left: 8%;
  font-size: 4em;
}

.wordpressHeaderText2 {
  position: absolute;
  color: white;
  top: 30.5%;
  left: 19.5%;
  font-size: 4em;
}

.wordpressHeaderLine {
  position: absolute;
  color: white;
  top: 51%;
  left: 15.5%;
  height: 3px;
  width: 240px;
  background-color: #1e9600;
}

.wordpressHeaderTextSmall {
  position: absolute;
  color: white;
  top: 62%;
  left: 8%;
  font-size: 2em;
  font-style: italic;
}

.wordpressHeaderTextSmall2 {
  position: absolute;
  color: white;
  top: 70%;
  left: 8%;
  font-size: 2em;
  font-style: italic;
}

.productContainer {
  padding-top: 30px;
  justify-content: center;
  display: flex;
  width: 100%;
  padding-bottom: 40px;
  text-align: center;
  flex-wrap: wrap;
}

.productPair {
  display: flex;
  min-width: 620px;
  flex-wrap: wrap;
  justify-content: center;
}

.product {
  margin: 10px;
  width: 310px;
  border-radius: 5px;
  min-width: 310px;
}

.productPopular {
  height: 40px;
}

.productBorder {
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}

.productBorderBottom {
  border-bottom: 1px solid #cecece;
  border-radius: 0 0 5px 5px;
  padding-bottom: 40px;
}

.productMostPopular {
  padding-top: 5px;
  height: 40px;
  font-size: 1.4em;
  background-color: #1E9600;
  color: white;
  border-radius: 5px 5px 0 0 ;
  border: 1px solid #cecece;
}

.productName {
  padding-top: 25px;
  border-radius: 5px 5px 0 0 ;  font-size: 2.5em;
  color: #1E9600;
  border-top: 1px solid #cecece;
}

.productPriceTop {
  font-style: italic;
  padding-top: 15px;
  font-size: 1.1em;
}

.productMainFeatures {
  padding-top: 25px;
  font-size: 1.2em;
  color: #727272;
}

.productDetails {
  padding-top: 20px;
  font-size: 1.1em;
  text-decoration: underline;
}

.productButton {
  margin-top: 30px !important;
  padding-left: 20px !important;
  padding-right: 20px !important;
}

.productButtonPopular {
  background-color: #1E9600;
  color: white;
}

.productButtonPopular:hover {
  background-color: #12b712;
  color: white;
}

.wordpressFlowerImage {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.wordpressFlowerHead {
  position: absolute;
  top: 10%;
  left: 10%;
  color: white;
  font-size: 3em;
  font-style: italic;
  text-align: center;
}

.wordpressFlowerCont {
  position: absolute;
  top: 30%;
  left: 10%;
  color: white;
  font-size: 1.5em;
  margin-right: 10%;
  text-align: left;
}

.wordpressBuilderContainer {
  margin-top: 10px;
  width: 100%;
  display: flex;
  margin-bottom: 100px;
}

.wordpressAboutImgCont {
  width: 55%;
  position: relative;
  text-align: center;
  min-height: 250px;
  margin-bottom: 60px;
}

.wordpressAboutImg {
  max-height: 100%;
  max-width: 100%;
  position: absolute;
  top: 15%;
  bottom: 15%;
  right: 0;
  left: 0;
  margin: auto;
}

.wordpressBuilderDesc {
  font-size: 1.6em;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

.chatbox {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 300px;
  vertical-align: baseline;
  text-align: center;
  font-size: 1.3em;
  color: #eaeaea;
  background-color: #1E9600;
  border-radius: 20px 0 0 0;
  border: 1px solid white;
  border-bottom: none;
}

.chatbox:hover {
  background-color: #24b300;
  cursor: pointer;
}

.chatboxContent {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 8px;
}

.chatboxIcon {
  font-size: 1.5em !important;
  margin-right: 9px;
}

.chatboxIconSmall {
  font-size: 1em !important;
  margin-right: 9px;
}


.chatboxActive {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 350px;
  width: 320px;
  border-left: 2px solid #1E9600;
  border-top: 2px solid #1E9600;
  border-radius: 10px 0 0 0;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.chatboxActiveHeader {
  height: 40px;
  min-height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1E9600;
  font-size: 1.2em;
  color: white;
  border-bottom: 1px solid #efefef;
  padding-left: 105px;
  padding-right: 5%;
}

.stopChat {
  display: flex;
  margin-left: auto;
  cursor: pointer;
}

.actualChatContentAll {
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.actualChatRow {
  display: flex;
  flex-shrink: 0;
}

.messageContent {
  margin-top: 3px;
  margin-bottom: 3px;
  padding: 7px;
  border-radius: 5px 5px 5px 5px;
  font-size: 1.1em;
}

.userMessageContent {
  color: white;
  background-color: #1E9600;
}

.adminMessageContent {
  color: #1E9600;
  background-color: white;
}

.systemMessageContent {
  color: #1E9600;
  background-color: white;
}

.messageBlankSpace {
  flex-grow: 1;
  min-width: 90px;
  border: 1px solid #efefef;
}

.sendMessage {
  width: 100%;
}

input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 3px 0 rgba(30, 150, 0, 1);
}

#chatbg {
  border: 1px solid #efefef;
  height: 1px;
  width: 100%;
}